@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
.App {
  text-align: center;
}

.loginDash {
  width: 550px;
  height: 370px;
  margin: auto;
  align-items: center;
  text-align: center;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.03);
  background-color: #eaecf0;
  padding: 53px;
}

.signupDash {
  width: 550px;
  height: 370px;
  margin: auto;
  align-items: center;
  text-align: center;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.03);
  background-color: #eaecf0;
  padding: 53px;
}

.home {
  float: left;
  margin: auto;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  opacity: 0.6;
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
}

.header {
  width: 1440px;
  height: 64px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.09);
  background-color: #eaecf0;
  align-items: center;
  text-align: center;
  margin: auto
}

.links {
  float: left;
  margin: auto;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 0px;
}

.account {
  float: right;
  margin: auto;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 0px;
  padding-right: 20px;
}

.list {
  width: 1150px;
  height: 500px;
  margin: auto;
  align-items: center;
  text-align: center;
  float: left;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.03);
  background-color: #ffffff;
}

.dashboard {
  width: 1440px;
  height: 500px;
  margin: auto;
  align-items: center;
  text-align: center;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.03);
  background-color: #ffffff;
}

.taskname {
  font-size: 35px;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #1b253a;
}

.form {
  padding-top: 25px;
  width: 350px !important;
  margin: auto;
  align-items: center;
  text-align: center;
}

.formName {
  padding-top: 140px;
  width: 350px !important;
  margin: auto;
  align-items: center;
  text-align: center;
}

.Table-body tr td {
  width: 1280px;
  height: 60px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.06);
  background-color: #ffffff;
}

.textList {
  width: 29px;
  height: 22px;
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #52575a;
}

.Table-head tr th {
  width: 118px;
  height: 70px;
  opacity: 0.6;
  font-family: Nunito Sans;
  font-size: 16px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #3b5679;
  background-color: #e0e5ee;
}

.Table-body tr:hover {
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.resultheader {
  height: 70px;
  opacity: 0.6;
  color: #3b5679;
  background-color: #e0e5ee;
}

.resultheaderIcon {
  float: left;
  margin: auto;
  font-size: 20px;
  align-items: center;
  text-align: center;
  padding: 15px;
}

.resultheaderspan {
  float: left;
  margin: auto;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
}